/* need lots of comments */

title {
    text-align: center;
}

body {
  background-color:floralwhite ;

}

h1 {
    font-family: verdana;
    color: MidnightBlue;
    text-align: center;
}
  
h2 {
    font-family: verdana;
    color: MidnightBlue;
}
  
h3 {
    font-family: verdana;
    color: MidnightBlue;
}

/* so far, have just used the borders from the W3 schools example */
table, th, td {
    border:1px solid black;
}
  
p {
    font-family: verdana;
    color: MidnightBlue;
    font-size: 14px;
    text-indent: 30px;
    border-style: round;
}

/* the style for the nav bar, for now - also needs to move to external CSS eventually */
/* for now, using the style from the w3 schools example, but do need to tweak it */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 8px;
    background-color: MidnightBlue;
    font-family: verdana;
}

/* switching the li elements to be inline instead of block elements, so the line breaks are removed */
li {
    display: inline;
}

li a {
    color: FloralWhite;
    font-family: verdana;
    text-decoration: none;
}

/* got the hover idea from w3 schools */
li a:hover {
    background-color: FloralWhite;
    color: MidnightBlue;
}

.active {
    background-color: #04AA6D;
}