/* things are currently a mess in here, don't look too closely */

/* need to reference every page of w3 schools I use !! */


/*  I really wanted to use a header with an image because they're so common that a webpage looks
    strange to me without it, so I cropped a photo of mine and modified the CSS from the header
    of this group's website from last year's Collaborative Project
    https://fleming-tps-kykapp.github.io/Collab/ */
header {
    background-image: url("https://github.com/lindsayaldous/lindsayaldous.github.io/blob/main/images/IMG_0227.JPG?raw=true");
    background-size: cover;
    background-position-y: 98%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 8vw;
    }

body {
    background-color: rgb(234,234,224);
    margin: 0px;
    font-family: verdana;
}

/* need to be careful about duplication! lots of my repetition can do in body 
also need to add the w3 schools sources - that should help flesh out the 20% requirement!
*/

h1 {
    color: #2B3210;
    font-size: 16px;
    margin: 20px;
    text-indent: 50px;
}
    .intro {
        text-align: center;
        padding-top: 35px;
        padding-right: 200px;
        padding-left: 200px;
    }

h2 {
    color: #17140D;
    font-size: 12px;
    margin: 10px;
    text-indent: 100px;
}

p {
    color: #17140D;
    font-size: 11px;
    margin: 12px;
    margin-bottom: 1em;
    padding-right: 100px;
    padding-left: 100px;
}


/* https://www.w3schools.com/css/css_table.asp */
table {
    border:1px solid #2B3210;
    color: #17140D;
    margin-right: 125px;
    margin-top: 50px;
    float: right;
    padding: 5px;
}
    th {
        border:1px solid #2B3210;
        font-size: 14px;
        height: 50px;
        width: 275px;
    }

    /* https://www.w3schools.com/css/css_table_style.asp */
    tr:nth-child(odd) {
        background-color: #f2eed0;
    }

    td {
        border:1px solid #2B3210;
        font-size: 13px;
        padding: 5px
    }

    td.right {
        text-align: center
    }

/* the nav bar */
/* needs way more notes */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 8px 10px;
    overflow: hidden;
    background-color: #373f14;
    font-size: 15px;
    text-align: center;
}
    li {
        float: left;
    }
    li a {
        display: block;
        text-decoration: none;
        padding: 10px 150px;
        color: rgb(235,234,224);
    }
        /* got the hover idea from w3 schools */
        /* https://www.w3schools.com/css/css_link.asp */
        li a:hover {
            background-color: rgb(235,234,224);;
            color: #373f14;
        }


/* I picked the "2 external links" option from part 3 of the assignment outline.
I pulled this CSS from w3schools, and modified it to better suit my design */
/* https://www.w3schools.com/css/css3_buttons.asp */

a.hyperlink {
    color: rgb(235,234,224);
    margin-bottom: 1em;
    margin-left: 115px;
    background-color: #373f14;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
    font-size: 12px;
}

a.hyperlink:hover {
    background-color: #f2eed0;
    color: #373f14;
    border: 1px solid #373f14;
}


/* so far this part is copied-pasted from w3 schools - need to fix that */

div.gallery {
    margin: 20px;
    float: left;
    /* justify-content: center; */
    margin-right: 20px;
    margin-left: 115px;
}
        
div.gallery img {
    width: 600px;
    height: 400px;
    border: 1px solid black;
}
  
div.desc {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #17140D;
    font-weight: bold;
  }
